.backgroundCard {
  background-color: #F5F5F5;
  padding-block: 1.5rem;

}
.textBackground {
  background-color: #ffffff;
}
.grey {
  background-color: #888888;
}
.min-height {
  min-height: 160px;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgPic {
  height: 110px;
  width: 110px;
}

.custom-card {
  cursor: pointer;
}