.bg1 {
  background-color: var(--beige);
}
.bg2{
  background-color: var(--light-grey);
}
.bg3 {
  background-color: var(--brown);
}
.bg4 {
  background-color: var(--grey);
}

p {
  color: var(--black);
}
h2 {
  color: var(--black);
}
.e-white {
  color: #FFF;
  /* width: 190px; */
  
}

.pd {
  padding: 2rem 1rem;
}

.m-b {
  margin-block: 1rem;
}

.p-element {
  font-size: .8em;
}

/* LINNEAS BTN */
.btn-news {
  position: relative;
  background-color: var(--black);
  color: #FFF;
  border: none;
  font-size: .8rem;
  font-weight: 600;
  padding: .9em 3.5em;
}
.btn-news::before,
.btn-news::after{
  position: absolute;
  content: '';
  width: 1.2em;
  height: 1.2em;
  margin: .5em;
}
.btn-news::before{
  left: 0;
  top: 0;
  border-left: 2px solid #FFF;
  border-top: 2px solid #FFF;
}
.btn-news::after{
  right: 0;
  bottom: 0;
  border-right: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
}

.btn-inspo {
  position: relative;
  background-color: #fff;
  color: #000;
  border: none;
  font-size: .8rem;
  font-weight: 600;
  padding: .9em 3.5em;
}
.btn-inspo::before,
.btn-inspo::after{
  position: absolute;
  content: '';
  width: 1.2em;
  height: 1.2em;
  margin: .5em;
}
.btn-inspo::before{
  left: 0;
  top: 0;
  border-left: 2px solid #000;
  border-top: 2px solid #000;
}
.btn-inspo::after{
  right: 0;
  bottom: 0;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

/* END OF BTN */