.ta-c {
  text-align: center;
}
.t-white {
  color: #FFF;
}

.fw {
  font-weight:700;
}

.popup {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;

}

.popup-inner {
  position: relative;
  /* padding: 32px; */
  width: 100%;
  max-width: 800px;
  background-color: var(---dark-grey);
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

.close-btn {
  padding: .3rem .8rem;
  background-color: transparent;
  border: none;
}

.white-card {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  padding: 4rem 2rem;
  background-color: #fff;
  width: 300px;
}

.popUpInTouch {
  background-color: var(--orange);
}
.popUpInTouchP {
  color: #FFF;
}
.popUpInTouchInfo {
  font-size: 12px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BTN SIGN UP NOW */
.btn-signUp {
  position: relative;
  background-color: var(--orange);
  color: #FFF;
  border: none;
  font-size: .8rem;
  font-weight: 600;
  padding: .9em 3.5em;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-signUp::before,
.btn-signUp::after{
  position: absolute;
  content: '';
  width: 1.2em;
  height: 1.2em;
  margin: .5em;
}
.btn-signUp::before{
  left: 0;
  top: 0;
  border-left: 2px solid #FFF;
  border-top: 2px solid #FFF;
}
.btn-signUp::after{
  right: 0;
  bottom: 0;
  border-right: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
}

.email {
  width: 250px;
  text-align: center;
  padding: .7rem;
}

.email-input, 
.sign-up-btn {
  display: flex;
  justify-content: center;
  align-items: center;
} 