.m-CheckoutForm {
    flex: 1;
    background: var(--light-grey);
    padding: 1rem;
    margin-block: 2rem;
}

.m-CheckoutForm .m-width {
    width: 100%;
}
.m-CheckoutForm input {
    width: 100%;
    border: 1px solid var(--grey);
    padding: .3em;
    margin-bottom: 1rem;
}

.m-CheckoutForm h6 {
    color: var(--black);
}

.m-CheckoutForm .m-input-div {
    display: flex;
}

.m-CheckoutForm .input1 {
    flex: 4;
    margin-right: .2rem;
}
.m-CheckoutForm .input2 {
    flex: 5;
}
.m-CheckoutForm button {
    margin-block: .5rem;
}

.m-CheckoutForm small {
    display: block;
    text-align: center;
}

@media (min-width: 860px) {
    .m-CheckoutForm {
        margin-top: 0;
    }
}