.m-Navbar {
    padding-block: .7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    z-index: 50;
}

.m-Navbar-scroll {
    background: white;
    opacity: 90%;
}


.m-Navbar .m-navbar-logo {
    color: var(--black);
    font-weight: 700;
    font-size: 1.5rem;
    padding-inline: 1rem;
}

.m-Navbar .m-nav-links,
.m-Navbar .m-profile-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.m-Navbar .m-nav-link,
.m-Navbar .m-profile-link
 {
    color: var(--black);
    font-weight: 500;
    font-size: .8rem;
    padding: 0 1rem;
}

/* .m-Navbar .active {
    color: var(--orange);
} */

